@charset "utf-8";

@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css"); 

/* -------------------- header -------------------- */
/* header */
.maumUI #header {display:block; clear:both; position:relative; width:100%; text-align:center; background-color:rgba(255,255,255,1.0); z-index:2000; } 
.maumUI #header h1 {float:left; overflow:hidden; width:91px; height:37px; margin:15px 0 0 50px; background:url("../img/logo_maumAi_clr.svg") 50% 50% no-repeat; background-size:100% 100%; text-indent:-999px;}
.maumUI #header h1 a {display:block;width:100%;height:100%;}


/* header-maum_sta */
.maumUI #header .maum_sta {display:block; width:100%; height:70px; transition:background-color 0.3s ease-out;}

/* header-maum_sta-gnb */
.maumUI .maum_sta .maum_gnb {float:left; margin:0 0 0 50px;}
.maumUI .maum_sta .maum_gnb .nav {clear:both; overflow:hidden;}
.maumUI .maum_sta .maum_gnb .nav li {float:left;}
.maumUI .maum_sta .maum_gnb .nav li:last-child {margin:0;}
.maumUI .maum_sta .maum_gnb .nav li a {display:block; position:relative; padding: 0 25px;  color:#1e1e1e; font-size:14px; font-weight:500; line-height:70px;}
.maumUI .maum_sta .maum_gnb .nav li a:after {content:''; position:absolute; bottom:0; left:50%; width:0%; height:3px; background:#0078f2; opacity:0; transition:all 0.3s ease-out;}
.maumUI .maum_sta .maum_gnb .nav li a:hover {color:#0078f2; transition:all 0.3s ease-out;}
.maumUI .maum_sta .maum_gnb .nav li a.active:after {left:0; width:100%; opacity:1.0; transition:all 0.3s ease-out;}
/*.maumUI .maum_sta .maum_gnb .nav li:last-child a {font-weight:normal;}*/

/* header-maum_sta-maum_etc */
.maumUI .maum_sta .maum_etc {float:right; margin:18px 30px 0 0;}
.maumUI .maum_sta .maum_etc .nav {clear:both;}
.maumUI .maum_sta .maum_etc .nav>li {position:relative; float:left;}
.maumUI .maum_sta .maum_etc .nav>li>a {display:block; padding:0 25px; color:#1e1e1e; font-size:14px; font-weight:500; line-height:30px; border-radius:4px;}
.maumUI .maum_sta .maum_etc .nav>li>a.btn_ico {overflow:hidden; box-sizing:border-box; background-size:20px 20px;}
.maumUI .maum_sta .maum_etc .nav>li>a.btn_ico:hover:not(.lang) {color: inherit;}
.maumUI .maum_sta .maum_etc .nav>li>a.btn_ico span {overflow: hidden; display: inline-block; vertical-align: middle; text-indent:-999px;}
.maumUI .maum_sta .maum_etc .nav>li>a>img {width:22px; height:22px; vertical-align:middle;}

.maumUI .maum_sta .maum_etc .nav>li>a.btn_ico.user .fa-user-circle,
.maumUI .maum_sta .maum_etc .nav>li>a.btn_ico.lang .fa-globe {display: inline-block; vertical-align: middle; font-size: 22px;}
.maumUI .maum_sta .maum_etc .nav>li>a.btn_ico.app {padding: 0 36px; background:url("../img/ico_app_bk.svg") 50% 50% no-repeat; background-size: 20px;}
.maumUI .maum_sta .maum_etc .nav>li>a.btn_ico.mindsLab {padding:0 3px;background:url("../img/ico_mindsLab_g.svg") 50% 50% no-repeat; background-size:28px 20px !important;}

/* header-maum_sta-maum_etc-lstBox */
.maumUI .maum_sta .maum_etc .nav>li .lstBox {display:none; position:absolute; top:35px; left:50%; border:1px solid #e6e9f3; border-radius:4px; background:#fff; transform:translate(-50%,0); box-shadow:0 1px 4px 0 rgba(44,63,81,0.1);  z-index:10;}
.maumUI .maum_sta .maum_etc .nav>li .lstBox .lst {display:block; position:relative; min-width:150px; padding:7px 0;}
.maumUI .maum_sta .maum_etc .nav>li .lstBox .lst:before {content:''; position:absolute; top:0; left:50%; width:6px; height:6px; border-top:1px solid #e6e9f3; border-left:1px solid #e6e9f3; background:#fff; transform-origin:6px -3px; transform:rotate(45deg);}
.maumUI .maum_sta .maum_etc .nav>li .lstBox .lst li {display:block; clear:both; overflow:hidden;}
.maumUI .maum_sta .maum_etc .nav>li .lstBox .lst li a {display:block; padding:7px 14px; color:#2c3f51; font-size:13px; text-align:left; transition:all 0.3s ease-out;}
.maumUI .maum_sta .maum_etc .nav>li .lstBox .lst li a:hover {background:#f3f5fa; transition:all 0.3s ease-out;}
.maumUI .maum_sta .maum_etc .nav>li .lstBox .lst li.lang_li a {text-align:left;}
.maumUI .maum_sta .maum_etc .nav>li .lstBox .lst li.userInfo {width:200px; margin:0 0 7px 0; padding:3px 14px 7px 14px; text-align:left; vertical-align:top; border-bottom:1px solid #e6e9f3; box-sizing:border-box;}
.maumUI .maum_sta .maum_etc .nav>li .lstBox .lst li.userInfo .thumb {float:left; width:30px; height:30px; padding:4px 0 0 0;}
.maumUI .maum_sta .maum_etc .nav>li .lstBox .lst li.userInfo .txt {float:left; padding:0 0 0 14px;}
.maumUI .maum_sta .maum_etc .nav>li .lstBox .lst li.userInfo .txt .userName {display:block; color:#2c3f51; font-size:15px; font-weight:700;}
.maumUI .maum_sta .maum_etc .nav>li .lstBox .lst li.userInfo .txt .loginID {display:block; overflow:hidden; max-width:125px; padding:3px 0; color:#5c688c; font-size:11px; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal;}

/* header-maum_sta-maum_etc-appBox */
.maumUI .maum_sta .maum_etc .nav>li .appBox {display:none; position:absolute; top:35px; right:-10px; border:1px solid #e6e9f3; border-radius:4px; background:#fff; box-shadow:0 1px 4px 0 rgba(44,63,81,0.1); z-index:10;}
.maumUI .maum_sta .maum_etc .nav>li .appBox:before {content:''; position:absolute; top:0; right:36px; width:6px; height:6px; border-top:1px solid #e6e9f3; border-left:1px solid #e6e9f3; background:#fff; transform-origin:6px -3px; transform:rotate(45deg);}
.maumUI .maum_sta .maum_etc .nav>li .appBox .tit {display:block; padding:8px 15px; color:#2c3f51; font-size:11px; font-weight:700; text-align:center; border-bottom:1px solid #e6e9f3;}
.maumUI .maum_sta .maum_etc .nav>li .appBox .lst {display:block; clear:both; overflow:hidden; position:relative; width:300px; padding:7px 0; background:#f7f8fc;}
.maumUI .maum_sta .maum_etc .nav>li .appBox .lst li {float:left; width:33.33333%; margin:0 0 10px 0; text-align:center;}
.maumUI .maum_sta .maum_etc .nav>li .appBox .lst li a {display:block; margin:0 5px; box-sizing:border-box;}
.maumUI .maum_sta .maum_etc .nav>li .appBox .lst li a span {display:inline-block; width:42px; height:42px; margin:4px 0 0 0;  border-radius:3px;border:solid 1px #b6c5d1; background:#fff url("../img/img_landing_cloudAPI.png") 50% 50% no-repeat ; background-size:29px; transition:all 0.3s ease-out;}
.maumUI .maum_sta .maum_etc .nav>li .appBox .lst li a em {display:block; line-height:14px; font-size: 12px;}
.maumUI .maum_sta .maum_etc .nav>li .appBox .lst li:nth-child(2) a span {display:inline-block; width:42px; height:42px; margin:4px 0 0 0; border-radius:7px; background:#fff url("../img/img_landing_aibuilder.png") 50% 50% no-repeat; background-size:31px;}
.maumUI .maum_sta .maum_etc .nav>li .appBox .lst li:nth-child(3) a span {display:inline-block; width:42px; height:42px; margin:4px 0 0 0; border-radius:7px; background:#fff url("../img/img_landing_maumMinutes.png") 50% 50% no-repeat; background-size:22px;}
.maumUI .maum_sta .maum_etc .nav>li .appBox .lst li:nth-child(4) a span {display:inline-block; width:42px; height:42px; margin:4px 0 0 0; border-radius:7px; background:#fff url("../img/img_landing_fastai.png") 50% 50% no-repeat; background-size:28px;}
.maumUI .maum_sta .maum_etc .nav>li .appBox .lst li:nth-child(5) a span {display:inline-block; width:42px; height:42px; margin:4px 0 0 0; border-radius:7px; background:#fff url("../img/img_landing_tts.svg") 50% 50% no-repeat; background-size:34px;}
.maumUI .maum_sta .maum_etc .nav>li .appBox .lst li:nth-child(6) a span {display:inline-block; width:42px; height:42px; margin:4px 0 0 0; border-radius:7px; background:#fff url("../img/img_landing_edgeAiPlatform.svg") 50% 50% no-repeat; background-size:34px;}
.maumUI .maum_sta .maum_etc .nav>li .appBox .lst li:nth-child(7) a span {display:inline-block; width:42px; height:42px; margin:4px 0 0 0; border-radius:7px; background:#fff url("../img/img_landing_mauamdata.svg") 50% 50% no-repeat; background-size:41px;}
.maumUI .maum_sta .maum_etc .nav>li .appBox .lst li:nth-child(8) a span {display:inline-block; width:42px; height:42px; margin:4px 0 0 0; border-radius:7px; background:#fff url("../img/img_landing_ecominds.svg") 50% 50% no-repeat; background-size:34px;}
.maumUI .maum_sta .maum_etc .nav>li .appBox .lst li:nth-child(9) a span {display:inline-block; width:42px; height:42px; margin:4px 0 0 0; border-radius:7px; background:#fff url("../img/img_landing_aiStore.png") 50% 50% no-repeat; background-size:41px;}
.maumUI .maum_sta .maum_etc .nav>li .appBox .lst li a:hover span {border:1px solid #407ae5;transition:all 0.3s ease-out;}
.maumUI .maum_sta .maum_etc .nav>li .appBox .lst li a:hover em {color:#407ae5; transition:all 0.3s ease-out;}
.maumUI .maum_sta .maum_etc .nav>li.active .lstBox {display:block;}
.maumUI .maum_sta .maum_etc .nav>li.active .appBox {display:block;}
.maumUI .maum_sta .maum_etc .nav>li .lstBox.user.active{ display:block; }
.maumUI .maum_sta .maum_etc .nav>li .lstBox.language.active{ display:block; }
.maumUI .maum_sta .maum_etc .nav>li .appBox.active{ display:block; }

/* header-maum_sta-모바일 햄버거메뉴 */
.maumUI .maum_sta .btn_maum_ham {display:none; overflow:hidden; position:absolute; top:50%; right:0; width:40px; height:40px; line-height: 15px; text-indent:-999px; transform:translate(0,-50%);}
.maumUI .maum_sta .btn_maum_ham span {display:block; width:18px; height:3px; margin-bottom:3px; border-radius:5px; background:#2c3f51; transform:rotate(0deg); transition:.2s ease all;}
.maumUI.transform.trans .maum_sta .btn_maum_ham span {background:rgba(255,255,255,0.7);}
.maumUI .maum_sta .btn_maum_ham span:last-child {margin-bottom:0;}
.maumUI .maum_sta .btn_maum_ham:focus {outline-width:0;}

.maumUI #header .maum_sta .btn_maum_ham.active {right:0;}
.maumUI #header .maum_sta .btn_maum_ham.active span {height: 1px; background:#b6c5d1;}
.maumUI .maum_sta .btn_maum_ham.active span:nth-child(1) {transform:rotate(45deg); transform-origin: 18% 50%;}
.maumUI .maum_sta .btn_maum_ham.active span:nth-child(2) {opacity:0;}
.maumUI .maum_sta .btn_maum_ham.active span:nth-child(3) {transform:rotate(-45deg); transform-origin: 18% 50%;}

/* header-scroll transform */
.maumUI.transform #header{ width:100%; }
.maumUI.transform #header .maum_sta {position:fixed; z-index:50; top:0; left:0; width:100%; height: 60px; border-bottom:1px solid #cfd5eb; background-color:rgba(255,255,255,0.9); backdrop-filter:saturate(180%) blur(10px); transition:background-color 0.3s ease-out;}
.maumUI.transform .top_banner_area ~ #header .maum_sta {top:50px;}
.maumUI.transform #header h1 {margin-top: 12px;}
.maumUI.transform .maum_sta .maum_gnb .nav li a {line-height: 60px;}
.maumUI.transform .maum_sta .maum_etc {margin-top: 13px;}
.maumUI.transform .maum_sta .maum_etc .nav>li>a.btn_ico.app {background-size: 19px;}

/* 헤더 style : .maumUI.visual_header */
.maumUI.visual_header #header {position: absolute; top: 0; left: 0; background-color: transparent;}
.maumUI.visual_header .top_banner_area ~ #header {top:50px}
.maumUI.visual_header #header h1 {top: 10px; background-image: url("../img/logo_maumAi_w.svg"); }
.maumUI.visual_header .maum_sta .btn_maum_ham span {background: #fff;}
.maumUI.visual_header .maum_sta .maum_gnb .nav li a,
.maumUI.visual_header .maum_sta .maum_etc .nav>li>a {color: #fff;}
.maumUI.visual_header .maum_sta .maum_etc .nav>li>a i{color:#fff;}
.maumUI.visual_header .maum_sta .maum_etc .nav>li>a.btn_ico.app {background-image: url("../img/ico_app_wh.svg");}

/* 헤더 style : .maumUI.visual_header transform */
.maumUI.visual_header.transform #header {top: 0; margin-top: 0; background-color: transparent;}
.maumUI.visual_header.transform #header h1 {top: 10px; background-image: url("../img/logo_maumAi_clr.svg");}
.maumUI.visual_header.transform .maum_sta .btn_maum_ham span {background: #2c3f51;}
.maumUI.visual_header.transform .maum_sta .maum_gnb .nav li a,
.maumUI.visual_header.transform .maum_sta .maum_etc .nav>li>a {color: #1e1e1e;}
.maumUI.visual_header.transform .maum_sta .maum_etc .nav>li>a i {color: #1e1e1e;}
.maumUI.visual_header.transform .maum_sta .maum_etc .nav>li>a.btn_ico.app {background-image: url("../img/ico_app_bk.svg");}


/* ---------------------------------------- footer ---------------------------------------- */
/* 공통 footer */
iframe[name="footerFrame"] {width:100%;}

/* footerLanding */
#footerLanding {height:auto !important; padding:0; background:#1e2027; text-align:center;}
#footerLanding .fp-tableCell {height:auto !important;}
#footerLanding .footer_inner {display:inline-block; position:relative; width:1240px; padding:30px 20px; box-sizing:border-box; text-align:left; vertical-align:top;}
#footerLanding .footer_inner .col {position:relative;}
#footerLanding .footer_inner .col:last-child {text-align:left;}
#footerLanding .footer_inner .col .col_inner {overflow:hidden;}
#footerLanding .footer_inner .sns {float:right;}
#footerLanding .footer_inner .company {width:50%;}
#footerLanding .footer_inner address {color:#777777; font-size:15px; letter-spacing:-0.15px; line-height:22px;}
#footerLanding .footer_inner .copyright {margin-top:27px; color:#535353; font-size:12px; letter-spacing:-0.12px; line-height:18px;}
#footerLanding .footer_inner .contact {position:absolute; top:113px; right:20px; z-index:50;}
#footerLanding .footer_inner .contact a {display:inline-block; width:200px; padding:10px 0; border-radius:20px; background:rgba(255, 255, 255, 0.06); color:#777777; font-size:15px; letter-spacing:-0.15px; text-align:center;}
#footerLanding .footer_inner .contact br + a {margin-left:10px;}
#footerLanding .footer_inner .contact a img,
#footerLanding .footer_inner .contact a span {vertical-align:middle;}
#footerLanding .footer_inner .contact a img {display:inline-block; margin-right:6px;}
#footerLanding .footer_inner .contact br {display:none;}
#footerLanding .footer_inner .cs_info {margin:20px 0 0; color:#fff; font-size:14px; font-weight:400; line-height:20px; word-break:keep-all;}
#footerLanding .footer_inner .cs_info dt {display:inline-block;}
#footerLanding .footer_inner .cs_info dd {display:inline-block;}
/* #footerLanding .footer_inner .sns {margin-top:16px; margin-left:26px;} */
#footerLanding .footer_inner .sns a {display:inline-block; width:40px; height:40px; border-radius:50%; box-sizing:border-box; background:rgba(255, 255, 255, 0.06); text-align:center; vertical-align:baseline;}
#footerLanding .footer_inner .sns a + a {margin-left:15px;}
#footerLanding .footer_inner .links {margin:10px 0;}
#footerLanding .footer_inner .links a {display:inline-block; margin-right:30px; color:#d5d5d5; font-size:15px; letter-spacing:-0.15px; line-height:22px;}

#footerLanding .ft_top {border-bottom:1px solid #303237;}
#footerLanding .ft_top .footer_inner {padding:20px;}

/* media query */
@media screen and (max-width:768px) {
    #footerLanding {text-align:left;}
    #footerLanding .footer_inner {width:100%; padding:30px;}
    #footerLanding .footer_inner .col {float:none; width:auto; text-align:left;}
    #footerLanding .footer_inner .cs_info dt {vertical-align:top;}
    #footerLanding .footer_inner .cs_info dd {width:calc(100% - 60px);}
    #footerLanding .footer_inner .cs_info dd span {display:inline-block;}
    #footerLanding .footer_inner .sns {float:none; margin-top:20px; margin-left:0; text-align:center !important;}
    #footerLanding .footer_inner .links {float:none; margin:0; text-align:center;}
    #footerLanding .footer_inner .links a:last-child {margin-right:0;}
    #footerLanding .footer_inner .contact {position:static; margin:20px 0 0; text-align:center;}
    #footerLanding .footer_inner .contact a {width:auto; padding:5px 15px; font-size:13px; margin:0 16px 0 0;}
    #footerLanding .footer_inner .contact br + a {margin:0;}
    #footerLanding .footer_inner .links a {font-size:15px;}
    #footerLanding .footer_inner address {position:static; font-size:0.825rem; line-height:1.25rem; word-break:keep-all;}
    #footerLanding .footer_inner .copyright {margin-top:30px; font-size:12px; text-align:center;}

    #footerLanding .ft_top {padding:0 20px; border:none;}
    #footerLanding .ft_top .footer_inner {padding:30px 0; border-bottom:1px solid #303237;}
    #footerLanding .ft_btm .footer_inner {padding:30px 20px 40px;}
}

@media screen and (max-width:359px) {
    #footerLanding .footer_inner .links a {margin-right:20px;}
    #footerLanding .footer_inner .contact {text-align:left;}
    #footerLanding .footer_inner .contact br {display:block;}
    #footerLanding .footer_inner .contact br + a {margin:16px 0 0;}
}